<h1>Address</h1>

<p>
  <strong>Email</strong>: <%= @address.to_email %> <em>Don't share this with anyone!</em>
</p>

<p>
  <strong>Provider</strong>: <%= @address.provider.name %>
  <% if @address.provider.advanced? %>
    (Advanced)
  <% end %>
</p>

<% unless @address.confirmed? %>
  <p>
    We're not sure if you've confirmed your address. If you have confirmed your address just ignore this and the next email will automatically mark it as confirmed.
  </p>

  <% if @address.newsletters.any? %>
    <p>
      If you do need to confirm your email address just look at the first message we received:
    </p>

    <frame>
      <%= @address.newsletters.first.body.html_safe %>
    </frame>

    <p>
      If you see a confirmation link, just click that!
    </p>

  <% else %>
    <p>
      We haven't gotten any emails yet, so just sit tight.
    </p>
  <% end %>
<% end %>

<p>
  <%= link_to "If you want see all of your other addresses, click here.", addresses_url %>
</p>
